@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 0 0 1% 0;
  border-bottom: 5px solid black;
}

header h1 {
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  text-align: left;
  margin: 1% 0 0 2% !important;
}

.main h1 {
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  font-weight: 900;
  margin: 0 auto 5% auto;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  margin: 0 auto;
}

.uploadSection {
  width: 45%;
  margin: 5% 2%;
  text-align: left;
  display: inline-block;
}

.uploadSection h2 {
  font-weight: 900;
}

.foodLog {
  width: 50%;
  display: inline-block;
  float: right;
  margin: 5% auto 0 auto;
}

.day {
  width: 50%;
  margin: 2% auto 0 auto;
  border: 2.5px solid black;
  border-radius: 16px;
  padding: 20px;
}

.dayTitle {
  color: black;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 900;
  margin: 0;
  padding: 5px 10px 10px 10px;
}

.day h2 {
  font-weight: 900; 
}

.day p {
  text-align: left;
  padding: 5px 5px; 
}

input {
  padding: 8px;
  margin: 3% auto;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 20px auto;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.insights {
  display: inline-block;
  margin: 0 2.5% 0 7.5%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 40%;
  vertical-align: top;
}

.insights h2 {
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  text-align: left;
  margin: 0 0 0 10px;
  font-weight: 900;
  font-size: 2rem;
}

.insights p {
  text-align: left;
  margin: 0 0 0 10px;
}

.insights li {
  text-align: left;
  margin: 0 0 0 10px;
}

.protocols {
  display: inline-block;
  margin: 0 7.5% 0 2.5%;
  width: 40%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  vertical-align: top;
}

.protocols h2 {
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  text-align: left;
  margin: 0 0 0 10px;
  font-weight: 900;
  font-size: 2rem;
}

.protocols p {
  text-align: left;
  margin: 0 0 0 10px;
}

.protocols li {
  text-align: left;
  margin: 0 0 0 10px;
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

.protocols li:hover {
  cursor: pointer;
  opacity: 0.8;
}

.whoopMain {
  margin: 5% auto;
  width: 100%;
  text-align: center;
}

.whoopMainTop {
  width: 70%;
  margin: 0 auto 40px auto;
}

.whoopMainTop h2 {
  background: linear-gradient(to right, #000000, #9a9a9a);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: 3rem;
}

.green {
  background-color: #76f376;
  color: green;
  width: 27.5%;
  border-radius: 9999px;
  font-weight: 700;
  padding: 3px;
  border: 1px solid green;
  font-size: 0.875rem;
  margin: 5px;
}

.yellow {
  background-color: rgb(249, 249, 221);
  color: orange;
  width: 32.5%;
  border-radius: 9999px;
  font-weight: 700;
  padding: 3px;
  border: 1px solid orange;
  font-size: 0.875rem;
  margin: 5px;
}

.red {
  background-color: rgb(238, 188, 188);
  color: red;
  width: 27.5%;
  border-radius: 9999px;
  font-weight: 700;
  padding: 3px;
  border: 1px solid red;
  font-size: 0.875rem;
  margin: 5px;
}