@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}

h1 {
  color: black;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

input {
  padding: 8px;
  margin: 3% auto;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 20px auto;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}